.navigation {
  height: 80px;
  background-color: #C18076;
}

.inline-block{
  display: block;
  padding: 30px;
  font-size: 30px;
  height: 50px;
  color: #131F32;
  padding-right: 75px;
  float: right;
}
.logo{
  height: 100px;
  width: 150px;
  padding-left: 80px;
  text-align: auto;
}


.heroImg{
  height: 650px;
  padding: 80px;
  background-color: #F5E8E4
}
.content{
  width: 500px;
  margin: 0 auto;
}

h1 {
  color: #131F32;
  font-size: 30px;
}
p{
  font-size: 23px;
  color: #2D656D;
}
img{
  width: 250px;
}
button {
  border: none;
  background-color: #2D656D;
  color: #F5E8E4;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.mySkills {
  text-align: center;
  background-color: #F5E8E4;
  padding: 20px;
  color: #131F32;
}
.flexContainer {
  display: flex;
  background-color: #F5E8E4;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.UserResearch {
  background-color: #2D656D;
  color: white;
  padding: 20px;
  margin: 15px;
  height: 200px; 
  font-size: 23px; 
  border-radius: 25px;
}
.UserEmpathy {
  background-color: #2D656D;
  color: white;
  padding: 20px;
  margin: 15px;
  height: 200px;
  font-size: 23px;
  border-radius: 25px;
}
.Prototyping {
  background-color: #2D656D;
  color: white;
  padding: 20px;
  margin: 15px;
  height: 200px;
  font-size: 23px;
  border-radius: 25px;
}
.TechSkills {
  background-color: #2D656D;
  color: white;
  padding: 20px;
  margin: 15px;
  height: 200px;
  font-size: 23px;
  border-radius: 25px;
}

.myWork {
  text-align: center;
  background-color: #F5E8E4;
  padding: 50px;
  color: #131F32; 
}

.workGrid {
  display: grid;
  background-color: #F5E8E4;
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "gotrproj gotrimg"
  "Houndoogleproj Houndoogleimg"
  "Famgoproj Famgoimg"
}

.GotrProj {
  grid-area: 'gotrproj';
  padding: 100px;
  margin-left: 100px;
  margin-top: 40px;
}

.GotrImg {
  grid-area: 'gotrimg';
  background-image: url("../images/GOTRimg.png");
  background-repeat: no-repeat;
  margin-left: 40px;
  margin-top: 50px;
  padding: 300px;  
}

.HoundoogleProj {
  grid-area: 'Houndoogleproj';
  padding: 100px;
  margin-left: 100px;
  margin-top: 120px;
}

.HoundoogleImg {
  grid-area: 'Houndoogleimg';
  background-image: url("../images/HDGLimg.png");
  background-repeat: no-repeat;
  margin-right: 550px;
  margin-top: 150px;
  padding: 300px;
}

.FamgoProj {
  grid-area: 'Famgoproj';
  padding: 100px;
  margin-top: 200px;
  margin-left: 100px;
}

.FamgoImg {
  grid-area:'Famgoimg';
  background-image: url("../images/FAMGOimg.png");
  background-repeat: no-repeat;
  margin-right: 550px;
  margin-top: 250px;
  padding: 300px;  
}



h3 {
    color: #131F32;
    font-size: 30px;
}

h4 {
  font-size: 23px;
  color: #131F32;
  padding: 60px;
  margin-top: 300px;
  cursor: pointer;
}

.footer {
  background-color:#F5E8E4;
  text-align: center;
  padding: 20px;
  font-size: 23px;
  cursor: pointer;
  color: #131F32
}


@media screen and (max-width: 600px) {
  .flexContainer {
    width:100%;
    margin: 0px;
  }
  .workGrid {
    grid-template-rows: 400px 400px 400px 400px 400px 400px;
    grid-template-columns: 100%;
    grid-template-areas: 
      "gotrproj"
      "gotrimg"
      "Houndoogleproj"
      "Houndoogleimg"
      "Famgoproj"
      "Famgoimg"
    ;
  }
}